@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --secondary: #f4f4f5;
  --foreground: #e4e4e7;
  --main: #18181b;
  --muted: #71717a;
  --primary: #09090b;
  --line: #e4e4e7;
}

.dark {
  --background: #121212;
  --foreground: #1f1f1f;
  --main: #e4e4e7;
  --secondary: #1a1a1a;
  --muted: #a1a1aa;
  --line: #27272a;
  --primary: #fafafa;
}

@theme inline {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-primary: var(--primary);
}

*{
  @apply outline-none
}

body {
 @apply bg-background text-main font-sans;
}

.main {
  @apply max-w-[90%] 2xl:max-w-[1280px] mx-auto;
}

.layout {
  @apply max-w-[90%] md:max-w-[700px] mx-auto;
}

.center {
  @apply flex items-center justify-center;
}

button,
.btn {
  @apply cursor-pointer font-space flex items-center justify-center gap-2 disabled:opacity-50;
}

.btn-primary {
  @apply text-white dark:text-[#171717] bg-primary font-semibold;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}